@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .center-text {
        text-align: center;
    }

    .spacer {
        margin-top: 20px;
    }
</style>

<div class="center-text">
    <div>ĐẠI HỌC QUỐC GIA HỒ CHÍ MINH</div><br />
    <div>TRƯỜNG ĐẠI HỌC KHOA HỌC TỰ NHIÊN</div>
</div>

<br />
<br />
<br />

<div class="center-text">
    <h3>ĐỒ ÁN MÔN HỌC: KỸ THUẬT LẬP TRÌNH</h3>
    <h4>PHẦN MỀM QUẢN LÝ CỬA HÀNG</h4>
</div>


<br />
<br />
<br />

<div class="center-text">
    <p>GIẢNG VIÊN:<strong> Th.S Phạm Minh Tuấn</strong></p>
    <p>HỌ VÀ TÊN SINH VIÊN: Nguyễn Thế Trung</p>
    <p>MÃ SỐ SINH VIÊN: 23880092</p>
</div>


<br />
<br />
<br />
<br />
<br />

<div class="center-text">
    <p>TP HỒ CHÍ MINH, NĂM 2024</p>
</div>
<br />

<div class="center-text">
    ____________________________________________________________________
</div>
<br />

<div>
    <strong>
        <h4>CÁC CHỨNG NĂNG VÀ MÀN HÌNH HIỂN THỊ CHÍNH:</h4>
</div></strong>

<a href="/MH_01_DanhSach_HangHoa">1. Quản Lý Hàng Hóa</a>
<br />
<a href="/MH_010_DanhSach_HangHoa_HetHan">2. Danh Sách Hàng Hóa Hết Hạn</a>
<br />
<a href="/MH_02_DanhSach_LoaiHang">3. Quản Lý Loại Hàng</a>
<br />
<a href="/MH_03_DanhSach_HoaDonBanHang">4. Quản Lý Hóa Đơn Bán Hàng</a>
<br />
<a href="/MH_04_DanhSach_HoaDonNhapHang">5. Quản Lý Hóa Đơn Nhập Hàng</a>
<br />
<a href="/MH_DangKy">A. Đăng Ký</a>
<br />
<a href="/MH_DangNhap">B. Đăng Nhập</a>
<br />